prompt_toolkit>=3.0.48
colorama>=0.4.6
python-dotenv==1.0.0
notion-client>=2.3.0
google-generativeai==0.3.1
google-api-python-client>=2.159.0
google-auth-httplib2>=0.2.0
google-auth>=2.37.0
google-ai
pygame==2.5.2
SpeechRecognition==3.10.0
dateparser>=1.2.0
pytz>=2024.2
elevenlabs>=0.3.0
requests==2.31.0
pydantic>=2.10.4
openai==1.3.5
gTTS==2.4.0
openai-whisper==20231117
PyAudio==0.2.14
numpy==1.26.2
scipy==1.12.0
soundfile==0.12.1
sounddevice>=0.4.6
